.stepper{
  display: flex;
  justify-content: center;
  &-input{
    color: black;
  }
  &-button{
    margin: 0 60px;
  }

  // .ant-input-number-input{
  //   color: black;
  // }

  
  .orange{
    .ant-input-number-input-wrap {
      .ant-input-number-input {
        color: orange;
      }
    }
  }
  .red{
    .ant-input-number-input-wrap {
      .ant-input-number-input {
        color: red;
      }
    }
  }
}