.stepper {
  display: flex;
  justify-content: center;
  &-input {
    color: black;
  }
  &-button {
    margin: 0 60px;
  }

  // .ant-input-number-input{
  //   color: black;
  // }

  .orange {
    .ant-input-number-input-wrap {
      .ant-input-number-input {
        color: rgb(200, 120, 0);
      }
    }
  }
  .red {
    .ant-input-number-input-wrap {
      .ant-input-number-input {
        color: red;
      }
    }
  }
}
